# Firebase Public Config
# IMPORTANT: This file is a template. Create a `.env.local` file and copy these contents into it.
# Then, replace the placeholder value with your actual Firebase API Key.
# DO NOT commit your .env.local file to version control.

NEXT_PUBLIC_FIREBASE_API_KEY="[SUA_NOVA_CHAVE_AQUI]"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="studio-2478759487-b93de.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="studio-2478759487-b93de"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="studio-2478759487-b93de.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="190192495370"
NEXT_PUBLIC_FIREBASE_APP_ID="1:190192495370:web:74f4e432061c294dec68f3"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
